/* Hide scrollbar but retain functionality */
html, body {
  margin: 0; /* Remove default body margins */
  padding: 0; /* Remove default body padding */
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  overflow: hidden;
}

.dashboard_card_body{
  height: 600px;
  overflow-y: auto;
}

.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  height: 1000vh;
}

.sidebar_a {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar_a:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89;
}


.sidebar_dropdown {
  color: #393e41;
  text-align: center;
  text-decoration: none;
}

/* .sidebar a:hover {
  color: #004e89;
} */


.icon-hover {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-hover:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89; 
}

.top-icon-hover {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}

.top-icon-hover:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89; 
}


.main-content {
  flex: 1; /* Allow the main content to take the remaining space */
  padding-right: 20px;
  background-color: #f8f9fa; /* Light background for main content */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Webkit-based browsers */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #efefd0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.navbar, .sidebar {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #004e89;
}

.navbar{
    margin: 0; /* Remove default body margins */
    padding: 0; /* Remove default body padding */
    width: 100%; /* Ensure full width */
    height: 60px; /* Ensure full height */
}

.topbar{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;       
    color: #004e89;             
}

a:hover {
    color: #FCFCFD;             
}

.a_alternate {
  text-decoration: none;       
  color: #004e89;             
}

.a_alternate:hover {
  color: #393e41;             
}

.predecessor_link{
  color: #393e41; 
}

.predecessor_link:hover{
  color: #004e89;
}

.leader_link{
  color: #393e41; 
}

.leader_link:hover{
  color: #004e89;
}

.nav-item{
    text-decoration: none;       
    color: #efefd0;  
}

.nav-item:hover{
    color: #393e41;
}

.button {
    font-family: 'Poppins', sans-serif;
    color: #FCFCFD; 
}

.button:hover {
    color: #FCFCFD;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #393e41;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 24px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  /* width: 80px; */
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f7eb;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px 20px;
    color: #393e41;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* .dropdown-item:hover {
    background-color: #004e89;
    color: #efefd0;
  } */
  
  .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-menu li {
    animation: slideIn 0.3s ease forwards;
    opacity: 0;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.dropdown-menu {
  display: none; /* Hide the menu by default */
}
  
.dropdown-menu.show {
  display: block; /* Show the menu when the class 'show' is added */
}

.card {
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #dddddd; /* Black border */
  background-color: #FCFCFD; /* White background */
  box-shadow: none; /* Remove shadow for minimalism */
  transition: transform 0.2s; /* Smooth scaling effect */
}

.card-header {
  background-color: #FCFCFD; /* White header background */
  color: #393e41; /* Black text */
  font-size: 1.5rem; /* Font size */
  font-weight: bold; /* Bold text */
  border-bottom: 1px solid #e5e5e5; /* Thin bottom border for separation */
}

.card-body {
  padding: 2rem; /* Padding for the card body */
  background-color: #FCFCFD; /* White background */
  color: #393e41; /* Black text */
}

/* Hover effect for the card */
/* .card:hover {
  transform: scale(1.02);
} */

.menu_offcanvas{
    background-color: #004e89;
}

.offcanvas-title{
    color: #FCFCFD;
}

.buttonAT_blue{
  background-color: #0466c8;
  font-weight: bolder;
}

.buttonAT_blue:hover{
  color: #0466c8;
  border: 2px solid #0466c8;
}

.buttonAT_none{
  background-color: #6c757d;
  font-weight: bolder;
}

.buttonAT_none:hover{
  color: #6c757d;
  border: 2px solid #6c757d;
}

.buttonAT_yellow{
  background-color: #ffd60a;
  font-weight: bolder;
}

.buttonAT_yellow:hover{
  color: #ffd60a;
  border: 2px solid #ffd60a;
}

.buttonAT_orange{
  background-color: #99582a;
  font-weight: bolder;
}

.buttonAT_orange:hover{
  color: #99582a;
  border: 2px solid #99582a;
}

.buttonAT_red{
  background-color: #d00000;
  font-weight: bolder;
}

.buttonAT_red:hover{
  color: #d00000;
  border: 2px solid #d00000;
}

#loadingSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  z-index: 1000;
  font-size: 20px;
  width: 50%;
}

/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-nav .nav-item {
        font-size: 0.875rem;
    }

    .button-30 {
        font-size: 0.875rem;
        padding-left: 8px;
        padding-right: 8px;
    }

    .dropdown-menu .dropdown-item {
        font-size: 0.875rem;
    }

    .dropdown{
      margin-top: 10px;
    }

    .logout_btn{
      margin-top: 30px;
      margin-left: 0;
    }

    .table th, .table td {
      font-size: 12px;
    }
    
    .card {
      margin: 0.5rem 0; /* Space around the card on small screens */
    }
}

/* Tablets (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand {
      font-size: 1.25rem;
  }

  .navbar-nav .nav-item {
      font-size: 1rem;
  }

  .button-30 {
      font-size: 1rem;
      padding-left: 12px;
      padding-right: 12px;
  }

  .dropdown-menu .dropdown-item {
      font-size: 1rem;
  }

  .dropdown{
    margin-top: 10px;
  }

  .logout_btn{
    margin-top: 30px;
    margin-left: 0;
  }

  .table th, .table td {
      font-size: 14px;
  }

  .card {
      margin: 0.5rem 0;
  }

  .dashboard_card{
    height: 700px;
  }

}
  
