/* Hide scrollbar but retain functionality */
html, body {
  margin: 0; /* Remove default body margins */
  padding: 0; /* Remove default body padding */
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  overflow: hidden;
}

#loadingSpinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it sits on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.spinner-icon {
  font-size: 50px;
  margin-right: 15px;
}

.dashboard_card_body{
  height: 550px;
  overflow-y: auto;
}

.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar_a {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar_a:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89;
}

.sidebar_dropdown {
  color: #393e41;
  text-align: center;
  text-decoration: none;
}

.icon-hover {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-hover:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89; 
}

.top-icon-hover {
  color: #004e89;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}

.top-icon-hover:hover {
  background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
  color: #004e89; 
}

.main-content {
  flex: 1; /* Allow the main content to take the remaining space */
  padding-right: 20px;
  background-color: #f8f9fa; /* Light background for main content */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Webkit-based browsers */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.navbar, .sidebar {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
    color: #004e89;
}

.navbar{
    margin: 0; /* Remove default body margins */
    padding: 0; /* Remove default body padding */
    width: 100%; /* Ensure full width */
    height: 60px; /* Ensure full height */
}

.topbar{
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;       
    color: #004e89;             
}

a:hover {
    color: #FCFCFD;             
}

.a_alternate {
  text-decoration: none;       
  color: #004e89;             
}

.a_alternate:hover {
  color: #393e41;             
}

.predecessor_link{
  color: #393e41; 
}

.predecessor_link:hover{
  color: #004e89;
}

.leader_link{
  color: #393e41; 
}

.leader_link:hover{
  color: #004e89;
}

.nav-item{
    text-decoration: none;       
    color: #efefd0;  
}

.nav-item:hover{
    color: #393e41;
}

.button {
    font-family: 'Poppins', sans-serif;
    color: #FCFCFD;
    background-color: #004e89;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #393e41;
}

.button-secondary {
    font-family: 'Poppins', sans-serif;
    color: #004e89;
    background-color: #FCFCFD;
    border: 1px solid #004e89;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-secondary:hover {
    background-color: #004e89;
    color: #FCFCFD;
}

.button-index {
    font-family: 'Poppins', sans-serif;
    color: #004e89;
    background-color: #FCFCFD;
    border: 1px solid #004e89;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-index:hover {
    /* background-color: #004e89; */
    color: #FCFCFD;
}

.dropdown-toggle {
    font-family: 'Poppins', sans-serif;
    color: #004e89;
    background-color: #FCFCFD;
    border: 1px solid #004e89;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #004e89;
    color: #FCFCFD;
}

.dropdown-item:hover {
  background-color: #004e89;
  color: #FCFCFD;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonAT_blue,
.buttonAT_yellow,
.buttonAT_orange,
.buttonAT_none,
.buttonAT_red,
.buttonAT_white,
.buttonAT_black {
  padding: 10px 15px; /* Increase padding */
  border-radius: 5px; /* Add border radius */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  font-weight: 600; /* Increase font weight */
}

.buttonAT_blue {
  color: #393e41;
  border: 1px solid #0466c8;
}

.buttonAT_blue:hover{
  color: #FCFCFD;
  background-color: #004e89;
}

.buttonAT_yellow{
  color: #393e41;
  border: 1px solid #ffd60a;
}

.buttonAT_yellow:hover{
  color: #FCFCFD;
  background-color: #ffd60a;
}

.buttonAT_orange{
  color: #393e41;
  border: 1px solid #99582a;
}

.buttonAT_orange:hover{
  color: #FCFCFD;
  background-color: #99582a;
}

.buttonAT_none{
  color: #393e41;
  border: 1px solid #6c757d;
}

.buttonAT_none:hover{
  color: #FCFCFD;
  background-color: #6c757d;
}

.buttonAT_red{
  color: #393e41;
  border: 1px solid #d00000;
}

.buttonAT_red:hover{
  color: #FCFCFD;
  background-color: #d00000;
}

.buttonAT_white{
  color: #393e41;
  border: 1px solid #d1f5f7;
}

.buttonAT_white:hover{
  color: #393e41;
  background-color: #c3fafc;
}

.buttonAT_black{
  color: #353535;
  border: 1px solid #353535;
}

.buttonAT_black:hover{
  color: #FCFCFD;
  background-color: #353535;
}

.offcanvas_menu{
  display: none;
}

/* Chart Styles */
#barangayChart {
    max-width: 100%;
    height: 350px; /* Set a fixed height for the chart */
}

/* Dashboard Card Styles */
.dashboard_card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.dashboard_card_body {
    padding: 20px;
    background-color: #f9f9f9;
}

/* Container Styles */
.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
}

/* Select Styles */
#barangay-select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Add responsive design for mobile devices */
@media (max-width: 768px) {
    html, body {
      overflow: visible;
    }

    .offcanvas_menu{
      display:block;
    }

    .dm-logo{
      margin: none;
      display: none;
    }

    .sidebar {
      height: auto;
      display: none;
    }

    .sidebar_mobile {
      /* width: 60px; */
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: 'Nunito', sans-serif;
      background-color: #f8f9fa;
      color: #004e89;
    }
    
    .sidebar_mobile_a {
      color: #004e89;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .sidebar_mobile_a:hover {
      background-color: rgba(0, 78, 137, 0.1); /* Light background with the main color */
      color: #004e89;
    }
    
    .sidebar_mobile_dropdown {
      color: #004e89;
      text-align: center;
      text-decoration: none;
    }

    .topbar{
        margin-left: 10px;
        margin-right: 0px;
    }

    .dashboard_card{
      height: auto;
      width: 100%;
      overflow-y: auto;
      margin: 10px;
      
    }

    .table-responsive {
        overflow-x: auto;
    }

    .card-header .row {
        display: flex;
        flex-wrap: wrap;
    }

    .card-header .col-12 {
        margin-bottom: 10px;
    }

    .card-header form {
        display: flex;
        flex-wrap: wrap;
    }

    .card-header .form-control,
    .card-header .form-select,
    .card-header .button-index {
        flex: 1 1 auto;
        margin-bottom: 10px;
    }

    .card-header .button-index,
    .card-header .button-secondary {
        width: 100%;
    }

    .card-body {
        padding: 10px;
    }

    body {
      font-size: 16px;
      line-height: 1.5;
    }

    tbody{
      font-size: 8px;
    }

    thead{
      font-size: 9px;
    }

    .btn-custom{
      font-size: 8px;
    }
    
    h1 {
        font-size: 2em; /* 32px */
    }
    
    h2 {
        font-size: 1.75em; /* 28px */
    }
    
    h3 {
        font-size: 1.5em; /* 24px */
    }
    
    h4 {
        font-size: 1.25em; /* 20px */
    }
    
    h5 {
        font-size: 1.125em; /* 18px */
    }
    
    h6 {
        font-size: 1em; /* 16px */
    }
    
    small {
        font-size: 0.875em; /* 14px */
    }
    
    button, nav a {
        font-size: 1em; /* 16px */
    }
  
}