body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f7eb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.navbar, .sidebar {
    font-family: 'Nunito', sans-serif;
    background-color: #e94f37;
    color: #f6f7eb;
}

a {
    text-decoration: none;       
    color: #f6f7eb;             
}

a:hover {
    color: #393e41;             
}

.nav-item{
    text-decoration: none;       
    color: #f6f7eb;  
}

.nav-item:hover{
    color: #393e41;
}

.button {
    font-family: 'Poppins', sans-serif;
    color: #f4d35e; 
}

.button:hover {
    color: #393e41;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #393e41;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 24px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f7eb;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px 20px;
    color: #393e41;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #e94f37;
    color: #f6f7eb;
  }
  
  .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-menu li {
    animation: slideIn 0.3s ease forwards;
    opacity: 0;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .dropdown-menu {
    display: none; /* Hide the menu by default */
  }
  
  .dropdown-menu.show {
    display: block; /* Show the menu when the class 'show' is added */
  }
  
