.container {
    max-width: 1200px;
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
}

.alert {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.d-flex {
    display: flex ;
}

.justify-content-between {
    justify-content: space-between ;
}

.align-items-center {
    align-items: center ;
}

.d-inline {
    display: inline ;
}

.button-index {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #393e41;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-index:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-index:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-index:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .icon-link {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.icon-link{
    color:#393e41;
}

.icon-link:hover {
    color: #004e89;
}

.icon-link i {
    pointer-events: none;
}
