body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #004e92, #000428);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.login-background {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.divider {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 80%;
}

.login-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.form-control {
    width: calc(100% - 2.5rem);
    padding-left: 2.5rem;
    margin-bottom: 1rem;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

.button-login {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.button-login:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body {
    padding: 2rem;
    background-color: #004e89;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #f6f7eb;
}

.form-control:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

.invalid-feedback {
    font-size: 0.875rem;
}

#togglePassword {
    color: #bcb8b1;
    transition: color 0.3s ease;
}

#togglePassword:hover {
    color: #bcb8b1;
}

@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .login-background {
        margin-bottom: 2rem;
    }
}
